<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="ui attached stackable menu">
        <div class="ui container">
          <%= link_to 'Home', { controller: 'static_pages', action: 'home' }, class: 'item' %>
          <%= link_to 'Help', { controller: 'static_pages', action: 'help' }, class: 'item' %>
          <%= link_to 'About', { controller: 'static_pages', action: 'about' }, class: 'item' %>
          <%= link_to 'Contact', { controller: 'static_pages', action: 'contact' }, class: 'item' %>
          <%= link_to 'Log in', '#', class: 'right item' %>
        </div>
      </div>
    </header>
    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
